<%= form_for :promotion, :url => url_for(:controller => 'customers', :action => 'checkpromo') do |f| %>
    <p>
      <%= f.label 'Promotion Code' %><br>
      <%= f.text_field :code %>
    </p>
    <p>
      <%= f.submit 'Apply Code' %>
    </p>
<% end %>
<p>
  <%= link_to 'Next to checkout', new_customer_path %>
</p>
<%= link_to 'Back', root_path %>
